@white: #f8f8f8;
@black: #333;
@red: #d64803;
@blue: #5d8ed1;
@green: #008080;
@lightGray: #c1c1c1;
@midGray: #9f9f9f;
@darkGray: #717171;
@glowWhite: #fff;

body, HTML {
  background: @darkGray;
  padding: 0px;
  height: 100%;
}
#main {
  background: @black;
}
.container {
  background: @black;
  color: @black;
}
.row {
  margin: 0px;
}
.side-controls-container,
.canvas-container {
  display: block;
  background-color: @white;
}
.side-controls-container {
  background: @black;
  .control {
    background: @midGray;
    display: inline-block;
    height: 26px;
    width: 26px;
    cursor: pointer;
    border: 1px solid @black;
    border-top-color: @lightGray;
    border-right-color: @lightGray;
    border-radius: 3px;
    background-clip: padding-box;
  }
  .red-color {
    background: @red;
  }
  .green-color {
    background: @green;
  }
  .blue-color {
    background: @blue;
  }
}
@media screen and (max-width: 400px) {
  .side-controls-container,
  .canvas-container {
    float: none;
    margin: 10px auto;
    width: 95%;
  }
}
@media screen and (max-height: 480px) {
  .side-controls-container,
  .canvas-container {
    height: 158px;
  }
}
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .side-controls-container,
  .canvas-container {
    height: 202px;
  }
}
@media screen and (max-height: 320px) {
  #main {
    overflow: hidden;
  }
  .row {
    float: left;
      margin: 10px 5px 10px 10px;
  }
  .side-controls-container,
  .canvas-container {
    width: 220px;
    height: 187px;
    margin: 0px;
  }
}
@media only screen and (min-width: 560px) and (max-device-width: 1136px) {
  .side-controls-container,
  .canvas-container {
    width: 265px;
  }
}
@media screen and (min-width: 725px) {
  #main {
    height: 768px;
    width: 768px;
  }
  .row {
    margin: 20px;
  }
  .side-controls-container,
  .canvas-container {
    float: none;
    display: block;
    width: 725px;
    height: 355px;
    margin: 0px auto;
  }
}

